/*
  Table of contents:
    1. Body
    2. Loading screen
    3. Props
    4. Main canvas
    5. Menu
      5.1. Main menu
    6. Statistics
*/


/* ================
    Body
   ================ */

body {
    --background-pos: -500px -500px;
    color: white;
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;
}
body::before {
    content: '';
    background-image: url('../assets/img/space.jpg');
    background-size: 300vh;
    background-position: var(--background-pos);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    filter: contrast(1.2) hue-rotate(-10deg);
}


/* ================
    Loading screen
   ================ */

#loading-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    line-height: 100vh;
    background-color: #150e1c;
    pointer-events: none;
    user-select: none;
    font-size: 8em;
    z-index: 10;
}


/* ================
    Props
   ================ */

#props {
    display: none;
}


/* ================
    Main canvas
   ================ */

#display {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;  /* v - viewport | w - width */
    height: 100vh; /* v - viewport | h - height */
    transform: scaleY(-1);
}
.unfocus {
    filter: blur(5px);
}


/* ================
    Menu
   ================ */

#menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(26, 23, 34, 0.5);
}

/* Main menu */

#main-menu {
	display: flex;
	flex-direction: column;
	width: max-content;
	margin-inline: auto;
	margin-top: 12vh;
	align-items: center;
	gap: 2vh;
}

#main-menu > .title {
	font-size: 13vh;
    font-family: 'Permanent Marker', cursive;
	text-transform: uppercase;
	color: yellow;
    margin-bottom: 10vh;
	user-select: none;
    text-shadow: 0.03em 0.03em #4ebbdd;
    animation: pop 1.5s ease-in-out infinite alternate;
}
@keyframes pop {
    to {
        scale: 1.05;
    }
}
#main-menu > .menu-button {
	font-size: 4vh;
	font-family: 'Dosis', sans-serif;
	width: 30vh;
	border-radius: 0.8vh;
	border-width: 0.3vh;
	padding-block: 0.1vh;
}

#main-menu > .menu-button:focus-visible {
    outline: none;
}

#main-menu > .menu-button:focus-visible::before {
    content: '>';
}
#main-menu > .menu-button:focus-visible::after {
    content: '<';
}


/* ================
    Statistics
   ================ */

#stats {
    position: sticky;
    margin: 10px;
    width: max-content;
    user-select: none;
}
#stats span {
    font-weight: bold;
}